apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: jayeshmdocker/devops-backend:1.0
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: DB_URL
          value: "mongodb+srv://jayeshmalshikare1901:P@ssword1234@cluster1.divepio.mongodb.net/?appName=Cluster1"
